<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="../WeatherRiskApiLog" />
	<property name="CHARSET" value="UTF-8" />
	<property name="PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%-5level][%logger{50}] %m%n" />

	<!-- For local 
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>${PATTERN}</Pattern>
			<charset>${CHARSET}</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<appender name="DAILY_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/WebTemplate.log</File>
		<encoder>
			<Pattern>${PATTERN}</Pattern>
			<charset>${CHARSET}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/WebTemplate.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	-->
	
	<!-- For heroku -->
	<appender name="HEROKU_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
	
	<appender name="HEROKU_FILE" class="ch.qos.logback.core.FileAppender">
        <file>WeatherRiskApi.log</file>
        <append>true</append>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

	<logger name="com.weatherrisk.api" additivity="false">
		<level value="DEBUG" />
		<!-- <appender-ref ref="CONSOLE" /> -->
		<!-- <appender-ref ref="DAILY_ROLLING_FILE" /> -->
		<appender-ref ref="HEROKU_CONSOLE" />
		<appender-ref ref="HEROKU_FILE" />
	</logger>

	<root>
		<level value="INFO" />
		<!-- <appender-ref ref="CONSOLE" /> -->
		<!-- <appender-ref ref="DAILY_ROLLING_FILE" /> -->
		<appender-ref ref="HEROKU_CONSOLE" />
		<appender-ref ref="HEROKU_FILE" />
	</root>
</configuration>